<nav class="navbar navbar-light lock-nav navbar-expand-lg" style="background-color: #e3f2fd;">
  <a class="navbar-brand">Boardgame Menage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link " routerLink="/bg" href="#">บอร์ดเกม <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/sp" href="#">สมาชิก</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/sm" href="#">จัดการคลังสินค้า</a>
      </li>
      <li class="nav-item">
          <a class="nav-link " routerLink="/pp" href="#">บัญชี</a>
      </li>

      <li class="nav-item" *ngIf="user.status != 'admin'">
          <a class="nav-link " routerLink="/user" href="#">จัดการผู้ใช้</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link " routerLink="/login" href="#">ออกจากระบบ</a>
    </ul>
  </div>
</nav>

