<div class="container-fluid">
    <div class="row">
      <div class="col">
        
        <div class="row">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ชื่อผู้ใช้</th>
                
                <th scope="col">ชื่อ</th>
                <th scope="col">สถานะ</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of user; let i = index">
                <th scope="row">{{data.id}}</th>
                
                <td>{{data.name}} </td>
                <td>{{data.status}} </td>
                <td><button type="button" (click)=deleteuser(data) class="btn btn-danger">ลบ</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!---------แบบฟอล์มสมาชิก---------->
      <div class="col-4>">
        <div class="container">
          
          <br>
          <h3>เพิ่มผู้ใช้</h3>
          <form>
            <div class="form-group">
              <label for="inputID">ชื่อผู้ใช้</label>
              <input type="text" [(ngModel)]="modaluser.id" name="id" class="form-control" id="inputID" placeholder="กรุณาใส่ชื่อผู้ใช้">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputpw">รหัสผ่าน</label>
                <input type="password" [(ngModel)]="modaluser.pw" name="pw" class="form-control" id="inputpw" placeholder="กรุณาใส่รหัสผ่าน">
              </div>
              <div class="form-group col-md-6">
                <label for="inputpw2">รหัสผ่านอีกครั้ง</label>
                <input type="password" [(ngModel)]="modaluser.pw2" name="pw2" class="form-control" id="inputpw2" placeholder="กรุณาใส่รหัสผ่านอีกครั้ง">
              </div>
            </div>
            <div class="form-group">
                <label for="inputName">ชื่อ</label>
                <input type="text" [(ngModel)]="modaluser.name" name="name" class="form-control" id="inputName" placeholder="กรุณาใส่ชื่อ">
            </div>
            <!---------ถามเอ็ม**********---------->
            <div class="form-group">
                <label for="exampleFormControlSelect1">เลือกสถานะ</label>
                <select class="form-control" [(ngModel)]="modaluser.status" name="status" id="exampleFormControlSelect1">
                  <option>ADMIN</option>
                  <option>GM</option>
                </select>
            </div>
            <button type="submit" (click)="submituser()" class="btn btn-primary">ยืนยัน</button>
          </form>
        </div>
        <div class="container">
          
        </div>
      </div>
    </div>
  </div>